// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here


@import "icon-list";

.bi {
    width: 1em;
    height: 1em;
    fill: currentcolor;
}

.color-modes {
    .dropdown-menu {
        padding: .25rem;

        li + li {
            margin-top: .125rem;
        }
    }

    .dropdown-item {
        @include border-radius(.25rem);
    }

    .active {
        font-weight: 600;

        .bi {
            display: block !important; // stylelint-disable-line declaration-no-important
        }
    }
}

// body{
//     --bd-accent-rgb: 255,228,132;
//     --bd-pink-rgb: 214,51,132;
//     --bd-violet-rgb: 112.520718,44.062154,249.437846;
//     background-image: linear-gradient(180deg, rgba(var(--bs-body-bg-rgb), 0.01), rgba(var(--bs-body-bg-rgb), 1) 85%),
//     radial-gradient(ellipse at top left, rgba(var(--bs-primary-rgb), 0.5), transparent 50%),
//     radial-gradient(ellipse at top right, rgba(var(--bd-accent-rgb), 0.5), transparent 50%),
//     radial-gradient(ellipse at center right, rgba(var(--bd-violet-rgb), 0.5), transparent 50%),
//     radial-gradient(ellipse at center left, rgba(var(--bd-pink-rgb), 0.5), transparent 50%);
// }

#page-title.category-name{
    font-weight:bold;
}

[data-bs-theme="dark"] {
    body{
        background-size:contain;
        // background-size:cover;
        background-position:top center;
        // background-attachment: fixed;
        background-repeat:no-repeat;
        background-blend-mode: lighten;
    }
    body.wissenschaft,
    body.biologie,
    body.chemie,
    body.geschichte-der-naturwissenschaft{
        background-image:url('../img/bg_wissenschaft.jpeg');
    }
    body.notfallmedizin{
        background-image:url('../img/bg_notfallmedizin.jpeg');
    }
    body.erste-hilfe{
        background-image:url('../img/bg_erste-hilfe2.jpeg');
        background-blend-mode: multiply;
        #main-nav{
            // background-color:rgba(0,0,0,0.5);
        }
    }
    body.netzwerk,
    body.webentwicklung{
        background-image:url('../img/bg_it.jpeg');
    }
    body.musik{
        background-image:url('../img/bg_musik2.jpeg');
    }
    #main-nav{
        // background-color:rgba(0,0,0,0.5);
        text-shadow:0 0 0.25rem #000;
    }
    #breadcrumb{text-shadow:0 0 0.25rem #000;}
    h1{text-shadow:0 0 1rem #000;}
}