// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here


@import "icon-list";

.bi {
    width: 1em;
    height: 1em;
    fill: currentcolor;
}

.color-modes {
    .dropdown-menu {
        padding: .25rem;

        li + li {
            margin-top: .125rem;
        }
    }

    .dropdown-item {
        @include border-radius(.25rem);
    }

    .active {
        font-weight: 600;

        .bi {
            display: block !important; // stylelint-disable-line declaration-no-important
        }
    }
}

// body{
//     --bd-accent-rgb: 255,228,132;
//     --bd-pink-rgb: 214,51,132;
//     --bd-violet-rgb: 112.520718,44.062154,249.437846;
//     background-image: linear-gradient(180deg, rgba(var(--bs-body-bg-rgb), 0.01), rgba(var(--bs-body-bg-rgb), 1) 85%),
//     radial-gradient(ellipse at top left, rgba(var(--bs-primary-rgb), 0.5), transparent 50%),
//     radial-gradient(ellipse at top right, rgba(var(--bd-accent-rgb), 0.5), transparent 50%),
//     radial-gradient(ellipse at center right, rgba(var(--bd-violet-rgb), 0.5), transparent 50%),
//     radial-gradient(ellipse at center left, rgba(var(--bd-pink-rgb), 0.5), transparent 50%);
// }

#page-title.category-name{
    font-weight:bold;
}

[data-bs-theme="dark"] {
    body{
        background-size:cover;
        background-position:center center;
        background-repeat:no-repeat;
        background-blend-mode: lighten;
        @include media-breakpoint-up(md) { 
            background-size:contain;
            background-position:top center;
            background-attachment: scroll;
        }
    }

    // body.home{
    //     background-color: rgb(76, 76, 76);
    //     background-image:url('../img/bg_home2.jpeg');
    //     background-blend-mode: multiply;
    //     background-size:cover;
    //     background-attachment: fixed;
    // }

    body.wissenschaft,
    body.biologie,
    body.chemie,
    body.geschichte-der-naturwissenschaft{
        background-size:200%;
        @include media-breakpoint-up(md) { 
            background-size:contain;
        }
        background-position:top center;
        background-image:url('../img/bg_wissenschaft.jpeg');
    }
    body.notfallmedizin{
        background-size:200%;
        @include media-breakpoint-up(md) { 
            background-size:contain;
        }
        background-position:top center;
        background-image:url('../img/bg_notfallmedizin.jpeg');
    }
    body.erste-hilfe{
        background-color: rgb(57, 57, 57);
        background-image:url('../img/bg_erste-hilfe2.jpeg');
        background-blend-mode: multiply;
        background-size:cover!important;
    }
    body.netzwerk{
        background-color: rgb(74, 74, 74);
        background-image:url('../img/bg_it.jpeg');
        background-blend-mode: multiply;
        background-size:cover!important;
    }
    body.webentwicklung{
        background-image:url('../img/bg_webentwicklung.jpeg');
        // background-image:url('../img/bg_webentwicklung2.jpeg');
    }
    body.musik{
        background-size:100%;
        @include media-breakpoint-up(md) { 
            background-size:contain;
        }
        background-position:top 15% center;
        background-image:url('../img/bg_musik2.jpeg');
    }
    body.metal{
        background-image:url('../img/bg_metal.jpeg');
        background-size:cover!important;
    }
    #main-nav{
        // background-color:rgba(0,0,0,0.5);
        text-shadow:0 0 0.25rem #000;
    }
    #breadcrumb{text-shadow:0 0 0.25rem #000;}
    h1{text-shadow:0 0 1rem #000;}
}

/* Zähler für die Hauptliste erstellen */
ol.nested {
    counter-reset: mainCounter;
}
/* Zähler für jedes Listenelement erhöhen */
ol.nested > li {
    counter-increment: mainCounter;
}
/* Vor jedem Listenelement den Hauptzähler anzeigen */
ol.nested > li::marker {
    content: counter(mainCounter) "  ";
}
/* Zähler für verschachtelte Liste erstellen */
ol.nested ol {
    counter-reset: subCounter;
}
/* Sub-Zähler für jedes Element in der verschachtelten Liste erhöhen */
ol.nested ol > li {
    counter-increment: subCounter;
}
/* Vor jedem Listenelement in der verschachtelten Liste die Nummerierung dynamisch anzeigen */
ol.nested ol > li::marker {
    content: counter(mainCounter) "." counter(subCounter) "  ";
}

@media (hover: none) {
  .backtotop{  
    display: inline!important;
  }
}
h2:hover .backtotop,
h3:hover .backtotop{
  display: inline!important;
}

:root {
    --lightbox: rgb(0 0 0 / 0.75);
    --carousel-text: #fff;
  }
  
//   @keyframes zoomin {
//     0% {
//       transform: scale(1);
//     }
//     50% {
//       transform: scale(1.05);
//     }
//     100% {
//       transform: scale(1);
//     }
//   }
  
  .gallery-item {
    display: block;
  }
  
  .gallery-item img {
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.075);
    transition: box-shadow 0.2s;
  }
  
  .gallery-item:hover img {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.20);
  }
  
  .lightbox-modal .modal-content {
    background-color: var(--lightbox);
  }
  
  .lightbox-modal .btn-close {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    font-size: 1.25rem;
    z-index: 10;
    filter: invert(1) grayscale(100);
  }
  
  .lightbox-modal .modal-body {
    display: flex;
    align-items: center;
    padding: 0;
  }
  
  .lightbox-modal .lightbox-content {
    width: 100%;
  }
  
  .lightbox-modal .carousel-indicators {
    margin-bottom: 0;
  }
  
  @include media-breakpoint-down(md) { 
    .lightbox-modal .carousel-indicators [data-bs-target] {
      background-image:none!important;
    }
  }

  @include media-breakpoint-up(md) { 
    .lightbox-modal .carousel-indicators [data-bs-target] {
      background-color: var(--carousel-text) !important;
      width:50px;
      height:50px;
      border-top:0;
      border-bottom:0;
      padding:0;
      background:center center no-repeat;
      background-size:cover;
    }
    
    .lightbox-modal .carousel-indicators [data-bs-target].active {
      width:70px;
      height:70px;
      position: relative;
      top:-10px;
    }
  }
  
  .lightbox-modal .carousel-inner {
    @include media-breakpoint-up(md) { 
        width: 90%;
    }
    @include media-breakpoint-up(lg) { 
        width: 80%;
    }
    @include media-breakpoint-up(xl) { 
        max-width: 70%;
    }
    @include media-breakpoint-up(xxl) { 
        max-width: 60%;
    }
  }
  
//   .lightbox-modal .carousel-inner img {
//     animation: zoomin 10s linear infinite;
//   }
  
  .lightbox-modal .carousel-item .carousel-caption {
    right: 0;
    bottom: 0;
    left: 0;
    padding-bottom: 6rem;
    background-color: var(--lightbox);
    color: var(--carousel-text) !important;
    opacity:0.7;
  }
  
  .lightbox-modal .carousel-control-prev,
  .lightbox-modal .carousel-control-next {
    width: auto;
  }
  
  .lightbox-modal .carousel-control-prev {
    left: 1.25rem;
  }
  
  .lightbox-modal .carousel-control-next {
    right: 1.25rem;
  }
  
  [data-bs-theme = "dark"] .lightbox-modal .carousel-control-next-icon,
  [data-bs-theme = "dark"] .lightbox-modal .carousel-control-prev-icon {
      filter: none;
  }
  
  .btn-fullscreen-enlarge,
  .btn-fullscreen-exit {
    position: absolute;
    top: 1.25rem;
    right: 3.5rem;
    z-index: 10;
    border: 0;
    background: transparent;
    opacity: .6;
    font-size: 1.25rem;
  }
  
  .bi {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.035em;
    fill: currentcolor;
  }
  .carousel-item img {  
    object-fit: contain;
    object-position: center;
    overflow: hidden;
    height:100vh;
    width:100vh;
  }