{% extends "index.html" %}

{% block canonical %}
{% if singlepost and singlepost !== undefined %}
{% else %}
<link rel="canonical" href="https://www.{{ home_url }}" />
{% endif %}
{% endblock%}

{% block title %}
{% if category.name %}
<title>Blog > {{ category.name }} | Florian Mischke</title>
{% elif tag %}
<title>Blog > Tag: {{ tag }} | Florian Mischke</title>
{% else %}
<title>Blog | Florian Mischke</title>
{% endif %}
{% endblock %}

{% block body_class %}blog {% if category.id %}category {{ category.id }}{% endif %}{% if tag %}tag {{ tag|lower }}{% endif %}{% endblock %}

{% block breadcrumb_items %}
{{ super() }}
<li class="breadcrumb-item"><a href="{{ home_url }}/blog">Blog</a></li>
{% if category and category != "" %}
    {% if category.child == true and category.parent != "" %}
    <li class="breadcrumb-item"><a href="{{ home_url }}/blog/{{ category.parent }}">{{ category.parent|capitalize }}</a></li>
    {% endif %}
    <li class="breadcrumb-item" aria-current="page">{{ category.name }}</li>
{% endif %}
{% if tag and tag != "" %}
    <li class="breadcrumb-item" aria-current="page">#{{ tag }}</li>
{% endif %}
{% endblock %}

{% block content %}
{% if category and category != "" %}
<h1 id="page-title" class="display-1 category-name"><i class="{{ category.icon }}"></i> {{ category.name }}</h1>
{% endif %}
{% if tag and tag != "" %}
<h1 id="page-title" class=""><i class="bi bi-tag"></i> Tag: #{{ tag }}</h1>
{% endif %}
{% if category.desc %}
<h2>{{ category.desc }}</h2>
{% endif %}

{% if children and children|length > 0  %}
<div class="alert alert-light pb-0" >
    <p class="h6 mb-0"><i class="bi bi-tags-fill"></i> Unterkategorien:</p>
    <ul class="nav nav-underline">
        {% for child in children %}
        <li class="nav-item"><a class="nav-link" href="{{ home_url }}/blog/{{ child.id }}"><i class="{{ child.icon }}"></i> {{ child.name }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% if myposts and myposts|length > 0 %}
<ul class="list-unstyled">
    {% for mypost in myposts %}
    <li class="">
        <div class="card shadow mb-3">            
            <div class="row g-0">
                <div class="col-md-4">
                    <figure class="figure position-relative mb-0">
                        <img src="{% if mypost.img and mypost.img != '' %}{{ home_url }}/{{ mypost.img }}{% else %}https://placehold.co/400{% endif %}" class="figure-img img-fluid rounded-start mb-0" alt="{% if mypost.img_alt and mypost.img_alt != '' %}{{ mypost.img_alt }}{% endif %}" title="{% if mypost.img_alt and mypost.img_alt != '' %}{{ mypost.img_alt }}{% endif %}">
                        <figcaption class="figure-caption position-absolute bottom-0 end-0 py-1 px-2 text-end text-bg-dark opacity-75">{{ mypost.caption }}</figcaption>
                      </figure>
                </div>
            
                <div class="col-md-8">
                    <div class="card-body">
                        <h2 class=" card-title">{{ mypost.name }}</h2>
                        <p class="card-text">{{ mypost.description }}</p>
                        <a href="{{ home_url }}/blog/{{ mypost.url }}" class="btn btn-lg btn-primary" title="{{ mypost.name }}">Beitrag lesen</a>
                    </div>
                </div>
            </div>  
        </div>  
    </li>
    {% endfor %}
</ul>
{% else %}

    {% if category %}
        <div class="alert alert-danger mt-5" role="alert">
            <h4 class="alert-heading"><i class="bi bi-exclamation-triangle-fill"></i> Keine Beiträge.</h4>
            <p>Hier gibt es aktuell keine Beiträge. Entweder haben wir ein technisches Problem oder es gibt einfach keine Beiträge.<br>
            Schau doch mal in ein paar Stunden, Tagen oder Wochen vorbei. Vielleicht gibt's dann was :)</p>
            <hr>
            <p class="mb-0"><a class="btn btn-dark" href="{{ home_url }}"><i class="bi bi-house"></i> Zur Startseite</a></p>    
        </div>
    {% else %}
        <h1 id="page-title" class="display-1">Blog</h1>
        <div class="row">
            {% for cat in categories %}
            <div class="col-6 col-md-4 col-lg-3 mb-4">
                <div class="card">
                    <div class="card-header">
                        <p class="h1 text-center"><i class="{{ cat.icon }}"></i></p>
                    </div>    
                    <div class="card-body">
                    <h2 class="h5 card-title text-center">{{ cat.name }}</h2>
                    {% if cat.desc %}<p class="card-text text-center">{{ cat.desc }}</p>{% endif %}
                    <div class="d-grid gap-2">
                        <a href="{{ home_url }}/blog/{{ cat.id }}" class="btn btn-primary">Kategorie aufrufen</a>
                    </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endif %}

{% endif %}

{% endblock %}