{% extends "index.html" %}

{% block meta %}

{{ super() }}

<meta name="description" content="{{ singlepost.description }}">
{% if singlepost.tags and singlepost.tags != "" %}
<meta name="keywords" content="{% for tag in singlepost.tags %}{{ tag }}, {% endfor %}">
{% endif %}
<meta name="author" content="Florian Mischke">

<meta property="og:title" content="{{ singlepost.name }} | Blog > {{ category.name }} | Florian Mischke" />
<meta property="og:type" content="website" />
<meta property="og:image" content="{{ home_url }}/{{ singlepost.img }}" />
<meta property="og:url" content="{{ home_url }}/blog/{{ singlepost.url }}" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@florianmischke" />
<meta name="twitter:title" content="{{ singlepost.name }} | Blog > {{ category.name }} | Florian Mischke" />
<meta name="twitter:description" content="{{ singlepost.description }}" />
<meta name="twitter:image" content="{{ home_url }}/{{ singlepost.img }}" />

{% endblock %}

{% block canonical %}
{% if singlepost %}
<link rel="canonical" href="{{ home_url }}/blog/{{ singlepost.url }}" />
{% else %}
<link rel="canonical" href="{{ home_url }}" />
{% endif %}
{% endblock%}

{% block title %}
<title>{{ singlepost.name }} | Blog > {{ category.name }} | Florian Mischke</title>
{% endblock %}

{% block breadcrumb_items %}
{{ super() }}
<li class="breadcrumb-item"><a href="{{ home_url }}/blog">Blog</a></li>
<li class="breadcrumb-item"><a href="{{ home_url }}/blog/{{ category.id }}">{{ category.name }}</a></li>
<li class="breadcrumb-item" aria-current="page">{{ singlepost.name }}</li>
{% endblock %}

{% block content %}
<h1>{{ singlepost.name }}</h1>

<ul class="list-group float-end fw-light ms-1 mb-2">
    <li class="list-group-item"><i class="bi bi-calendar-check"></i> Erstellt: {{ singlepost.date_formatted }}</li>
    {% if singlepost.updated_formatted %}
    <li class="list-group-item"><i class="bi bi-clock-history"></i> Bearbeitet:  {{ singlepost.updated_formatted }}</li>
    {% endif %}
    <li class="list-group-item"><i class="bi bi-person-circle"></i> Autor: Florian Mischke</li>
    <li class="list-group-item"><i class="bi bi-tag"></i> Kategorien:
        <ul>
            {% for cat in singlepost.categories2 %}
                <li><a href="{{ home_url }}/blog/{{ cat.id }}" title="{{ cat.desc }}">{{ cat.name }}</a></li>
            {% endfor %}
        </ul>
    </li>
</ul>

<p class="">{{ singlepost.description }}</p>

{% if singlepost.file and singlepost.file != "" %}
    <p class="mb-3">
        <a class="btn btn-success" href="{{ home_url }}/{{ singlepost.file }}" download><i class="bi bi-filetype-pdf"></i> {{ singlepost.file }}</a>
    </p>
    {#
    <div class="ratio ratio-4x3">
        <embed src="{{ home_url }}/{{ singlepost.file }}" type="application/pdf">
    </div>
    #}
{% endif %}

{% if singlepost.tags and singlepost.tags != "" %}
<p>
    <i class="bi bi-tag-fill"></i> 
    {% for tag in singlepost.tags %}
        <a href="{{ home_url }}/blog/tag/{{ tag|lower }}">#{{ tag }}</a>
    {% endfor %}
</p>
{% endif %}

{% endblock %}