<footer class="py-4 py-md-5 mt-5 bg-body-tertiary">
    <div class="container-xl">
        <div class="row">
            <div class="col-lg-3 mb-5">
                <p class="h3"><a class="text-body-emphasis text-decoration-none" href="{{ home_url }}"><i class="bi bi-arrow-through-heart-fill"></i> Florian Mischke</a></p>
                <p>Gebaut mit <a href="https://nodejs.org/en" target="_blank">Node.js</a>, <a href="https://expressjs.com/de/" target="_blank">Express</a> und <a href="https://getbootstrap.com/" class="text-nowrap" target="_blank"><i class="bi bi-bootstrap-fill"></i> Bootstrap</a> / <a href="https://icons.getbootstrap.com/" target="_blank">Bootstrap Icons</a>.</p>
                <p>Hintergrundbilder/Thumbnails (wenn nicht anders angegeben) erstellt mit Microsoft Copilot in Bing.</p>
            </div>
            <div class="col-6 col-lg-2 mb-5">
                <h4>Seiten</h4>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link link-body-emphasis px-0" href="{{ home_url }}/cv" >CV</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-body-emphasis px-0" href="{{ home_url }}/impressum" >Impressum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-body-emphasis px-0" href="{{ home_url }}/datenschutz" >Datenschutzerklärung</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-5">
                <h4>Links</h4>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link link-body-emphasis px-0" href="" ><i class="bi bi-mastodon"></i> Mastodon</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-body-emphasis px-0" href="" ><i class="bi bi-instagram"></i> Instagram</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-body-emphasis px-0" href="" ><i class="bi bi-github"></i> GitHub</a>
                    </li>
                </ul>
            </div>
            {% if categories and categories|length > 0 %}
            <div class="col-6 col-lg-2 mb-5">
                <h4>Kategorien</h4>
                <ul class="nav flex-column">
                {% for navCat in categories %}
                    {% if navCat.child == false %}
                    <li class="nav-item">
                        <a class="nav-link link-body-emphasis px-0" href="{{ home_url }}/blog/{{ navCat.id }}" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Kategorie: {{ navCat.name }}" title="{{ navCat.name }}"><i class="{{ navCat.icon }}"></i> {{ navCat.name }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
            {% endif %}
            <div class="col-6 col-lg-3 mb-5">
                <h4>Neueste Beiträge</h4>
                {% if new_posts and new_posts|length > 0 %}
                <ul class="nav flex-column">
                    {% for mypost in new_posts %}
                    <li class="nav-item">
                        <a class="nav-link link-body-emphasis px-0" href="{{ home_url }}/blog/{{ mypost.url }}" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="{{ mypost.name }}" title="{{ mypost.name }}">{{ mypost.shortname }}{% if mypost.name.length > mypost.shortname.length %} [...]{% endif %}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>Keine Beiträge.</p>
                {% endif %}
            </div>
        </div>
    </div>
</footer>