<header>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-xl my-3">
            <div class="row w-100">
                <div class="col-3">
                    <a class="navbar-brand text-dark" href="{{ home_url }}"><i class="bi bi-arrow-through-heart-fill"></i> Florian Mischke</a>
                </div>
                <div class="col-6">
                    <form class="" role="search">
                        <div class="input-group">
                            <input class="form-control border-dark" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-dark" type="submit"><i class="bi bi-search"></i></button>
                        </div>                          
                    </form>
                </div>
                <div class="col-3">
                    <a class="btn btn-success" href="{{ home_url }}" role="button"><i class="bi bi-activity"></i> Stuff</a>
                    <a class="btn btn-success" href="{{ home_url }}" role="button"><i class="bi bi-bag-heart"></i> Shop</a>
                </div>
            </div>
        </div>
    </nav>
        
    <nav class="navbar navbar-expand-lg bg-light m-0 p-0" data-bs-theme="light">
        <div class="container-xl">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"><i class="bi bi-list"></i> Menu</a>
                    </li>
                    {% if categories and categories|length > 0 %}
                        {% for navCat in categories %}
                            {% if navCat.child == false %}
                            <li class="nav-item">
                                <a class="nav-link text-uppercase{% if navCat.id == category.id %} active{% endif %}" href="{{ home_url }}/blog/{{ navCat.id }}"><i class="{{ navCat.icon }}"></i> {{ navCat.name }}</a>
                            </li>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" href="{{ home_url }}/blog/">Blog</a>
                        </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <button class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static" aria-label="Toggle theme (dark)">
                            <svg class="bi my-1 theme-icon-active"><use href="#moon-stars-fill"></use></svg>
                            <span class="d-lg-none ms-2" id="bd-theme-text">Toggle theme</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
                                    <svg class="bi me-2 opacity-50"><use href="#sun-fill"></use></svg>
                                    Light
                                    <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="dark" aria-pressed="true">
                                    <svg class="bi me-2 opacity-50"><use href="#moon-stars-fill"></use></svg>
                                    Dark
                                    <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto" aria-pressed="false">
                                    <svg class="bi me-2 opacity-50"><use href="#circle-half"></use></svg>
                                    Auto
                                    <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
                                </button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
        </div>
        <div class="dropdown mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                Dropdown button
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
    </div>
</div>

</header>