<header>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-xl my-3">
            <div class="row w-100">
                <div class="col-3">
                    <a class="navbar-brand text-dark" href="#"><i class="bi bi-arrow-through-heart-fill"></i> Florian Mischke</a>
                </div>
                <div class="col-6">
                    <form class="" role="search">
                        <div class="input-group">
                            <input class="form-control border-dark" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-dark" type="submit"><i class="bi bi-search"></i></button>
                        </div>                          
                    </form>
                </div>
                <div class="col-3">
                    <a class="btn btn-success" href="#" role="button"><i class="bi bi-activity"></i> Stuff</a>
                    <a class="btn btn-success" href="#" role="button"><i class="bi bi-bag-heart"></i> Shop</a>
                </div>
            </div>
        </div>
    </nav>
        
    <nav class="navbar navbar-expand-lg bg-light m-0 p-0" data-bs-theme="light">
        <div class="container-xl">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" aria-current="page" href="#"><i class="bi bi-list"></i> Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="blog/wissenschaft"><i class="bi bi-eyeglasses"></i> Wissenschaft</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="blog/erste-hilfe"><i class="bi bi-bandaid"></i> Erste Hilfe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="blog/notfallmedizin"><i class="bi bi-capsule"></i> Notfallmedizin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="blog/netzwerk"><i class="bi bi-pc-horizontal"></i> Netzwerk</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="blog/webentwicklung"><i class="bi bi-filetype-html"></i> Webentwicklung</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-uppercase" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Kategorien
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-xl">
        <nav style="--bs-breadcrumb-divider: '>';" class="my-3" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="">florianmischke.de</a></li>
                <li class="breadcrumb-item active" aria-current="page">Home</li>
            </ol>
        </nav>
    </div>
</header>